/* Project */
/* ======== */
/* SETTINGS */
/* ======== */
/* Palette */
/* Fonts */
/* Transitions */
/* Breakpoints */
/* Mixins */
.Project {
  position: absolute;
  bottom: -30vh;
  right: 0;
  height: 0;
  width: 100vw;
  transition: all ease 0.5s;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000;
  z-index: 999; }
  @media (min-width: 768px) {
    .Project {
      max-width: 650px;
      transform: translateX(-50%);
      left: 50%; } }
  @media (min-width: 1400px) {
    .Project {
      max-width: 30vw; } }
  .App-explore .Project.Project--open {
    bottom: 0;
    height: 150px; }
    @media (min-width: 1400px) {
      .App-explore .Project.Project--open {
        height: auto;
        bottom: auto;
        left: auto;
        right: 0;
        transform: translateY(-50%);
        top: 50%; } }
    .App-explore .Project.Project--open .project-cover {
      opacity: 0.75; }
  .App-explore .Project.Project--expanded {
    height: 80vh;
    max-width: 65vw; }
    .App-explore .Project.Project--expanded .project-cover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.7); }
  .Project .project-wrapper {
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    transition: all ease 0.5s;
    border-top: 1px dashed white;
    height: 100%; }
    @media (min-width: 768px) and (max-width: 1399px) {
      .Project .project-wrapper {
        border-left: 1px dashed white;
        border-right: 1px dashed white;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; } }
    @media (min-width: 1400px) {
      .Project .project-wrapper {
        border-radius: 10px;
        border-left: 1px dashed white;
        border-bottom: 1px dashed white;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; } }
  .Project .project-cover {
    background-color: rgba(0, 0, 0, 0.35);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0; }
    .App-home .Project .project-cover {
      background-color: rgba(0, 0, 0, 0.55); }
    @media (min-width: 1400px) {
      .Project .project-cover {
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; } }
  .Project .project-content {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 30px;
    z-index: 9; }
    @media (min-width: 1400px) {
      .Project .project-content {
        padding: 50px; } }
  .Project .project-header,
  .Project .project-meta,
  .Project .project-media {
    color: #FFF;
    font-family: "Comfortaa", sans-serif;
    line-height: 1.25; }
  .Project .project-link,
  .Project .project-meta,
  .Project .project-media {
    opacity: 0;
    top: 50px; }
    @media (min-width: 1400px) {
      .Project .project-link,
      .Project .project-meta,
      .Project .project-media {
        display: none; } }
  .Project.Project--expanded .project-link,
  .Project.Project--expanded .project-meta,
  .Project.Project--expanded .project-media {
    top: 0;
    opacity: 1; }
    @media (min-width: 1400px) {
      .Project.Project--expanded .project-link,
      .Project.Project--expanded .project-meta,
      .Project.Project--expanded .project-media {
        display: block; } }
  .Project .project-header {
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25); }
    .Project .project-header h2 {
      font-family: "Chango", sans-serif;
      letter-spacing: 2px;
      margin: 0 0 5px;
      font-weight: 400; }
      @media (max-width: 767px) {
        .Project .project-header h2 {
          font-size: 1.2rem; } }
      @media (max-width: 1399px) {
        .Project .project-header h2 {
          font-size: 1.25rem; } }
    .Project .project-header h3 {
      margin: 0 0 5px;
      font-size: 0.87rem;
      line-height: 1.45;
      letter-spacing: 1px; }
      @media (min-width: 768px) {
        .Project .project-header h3 {
          font-size: 1rem; } }
      @media (min-width: 1400px) {
        .Project .project-header h3 {
          margin-bottom: 0; } }
    .Project .project-header .project-link {
      width: 100%;
      color: white;
      font-size: 0.65rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px; }
      @media (min-width: 768px) {
        .Project .project-header .project-link {
          font-size: 0.75rem; } }
      @media (min-width: 1400px) {
        .Project .project-header .project-link {
          margin: 10px 0; } }
  .Project.Project--expanded .project-header,
  .Project .project-meta {
    padding-bottom: 15px;
    border-bottom: 1px dashed white; }
  .Project .project-nav {
    position: absolute;
    bottom: 100%;
    padding: 0 30px; }
    .Project .project-nav .btn {
      text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
      text-decoration: none;
      text-align: center;
      padding: 8px 0 6px;
      color: #FFF;
      font-size: 0.65rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: "Comfortaa", sans-serif;
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
      background-color: rgba(0, 0, 0, 0.45);
      border: 1px dashed #FFF;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 6px;
      padding: 6px 6px 4px;
      min-width: 70px;
      transition: all ease 0.5s;
      cursor: pointer; }
      .Project .project-nav .btn:focus {
        outline: none; }
    .Project .project-nav .btn-toggle:hover,
    .Project .project-nav .btn-close:hover {
      background-color: rgba(205, 105, 11, 0.5); }
    .Project .project-nav .btn-prev:hover {
      background-color: rgba(82, 165, 107, 0.5); }
    .Project .project-nav .btn-next:hover {
      background-color: rgba(68, 151, 203, 0.5); }
  .Project .project-meta {
    position: relative;
    font-size: 0.85rem;
    line-height: 1.45;
    transition: all ease 0.5s; }
    .Project .project-meta h4 {
      margin: 0;
      padding: 0;
      font-weight: 400; }
      .Project .project-meta h4:first-child {
        margin-top: 10px; }
      .Project .project-meta h4 span {
        font-weight: 600; }
    .Project .project-meta ul {
      margin: 0;
      padding: 0; }
    .Project .project-meta li {
      display: inline-block; }
