/* Project */

@import '../../../assets/styles/settings.scss';

.Project {
  position: absolute;
  bottom: -30vh;
  right: 0;
  height: 0;
  width: 100vw;
  transition: $allTrans;
  font-family: $tertiaryFont;
  color: #000;
  z-index: 999;

  @media (min-width: $xsmall) {
    max-width: 680px;
    transform: translateX(-50%);
    left: 50%;
  }

  @media (min-width: $large) {
    left: auto;
    right: -30vw;
    max-width: 70vw;
    transform: translateX(0);
    transform: translateY(0);
    opacity: 0;
    height: auto;
    top: 60%;
  }

  @media (min-width: $xlarge) {
    right: -35vw;
  }

  .App-explore &.Project--open {
    bottom: 0;
    height: 150px;

    @media (min-width: $large) {
      bottom: auto;
      left: auto;
      top: 15vh;
      opacity: 1;
      height: auto;

      .project-header {
        padding-bottom: 15px;
        border-bottom: 1px dashed white;
    }

      .project-link,
      .project-meta,
      .project-media {
        display: block;
        top: 0;
        opacity: 1;
      }
    }

    .project-cover {
      opacity: 0.35;
    }
  }

  .App-explore &.Project--expanded {
    height: 80vh;

    .project-cover {
      opacity: 0.75;
    }
  }

  .App-explore &.Project--gallery {
    @media (min-width: $large) {
        right: 0;
    }

    .slider-control-centerleft,
    .slider-control-centerright {
        @include backgroundScreen;
        border: 1px dashed white;
        overflow: hidden;
    }
    .slider-control-centerleft {
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
      border-left: 0;
    }
    .slider-control-centerright {
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
      border-right: 0;
    }
  }

  .project-wrapper {
    @include boxshadow;
    position: relative;
    transition: $allTrans;
    border-top: 1px dashed white;
    height: 100%;

    @media (min-width: $xsmall) and (max-width: $large - 1) {
      border-left: 1px dashed white;
      border-right: 1px dashed white;
      border-radius: $borderRadius;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    @media (min-width: $large) {
      border-radius: $borderRadius;
      border-left: 1px dashed white;
      border-bottom: 1px dashed white;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

  }

  .project-cover {
    background-color: $black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;

    @media (min-width: $xsmall) {
      border-top-right-radius: $borderRadius;
      border-top-left-radius: $borderRadius;
    }

    @media (min-width: $large) {
      border-radius: $borderRadius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .project-content {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 30px;
    font-weight: 600;
    z-index: 9;

    @media (min-width: $large) {
      padding: 35px;
      max-width: 40vw;
    }

    @media (min-width: $xlarge) {
      max-width: 35vw;
    }
  }

  .project-header,
  .project-meta,
  .project-media {
    color: $white;
    font-family: $primaryFont;
    line-height: 1.25;
  }

  .project-link,
  .project-meta,
  .project-media {
    opacity: 0;
    top: 50px;
  }

  // &.Project--expanded .project-content div[class^="col-"] {
  //   @media (min-width: $large) {
  //     width: 47.5%;
  //   }
  // }

  &.Project--expanded .project-link,
  &.Project--expanded .project-meta,
  &.Project--expanded .project-media {
    top: 0;
    opacity: 1;
  }

  .project-header {
    @include textshadow;

    h2 {
      font-family: $secondaryFont;
      letter-spacing: 2px;
      margin: 0 0 5px;
      font-weight: 400;

      @media (max-width: $xsmall - 1) {
          font-size: 1.2rem;
      }

      @media (max-width: $large - 1) {
          font-size: 1.25rem;
      }

      @media (min-width: $xlarge) {
          padding-right: 70px;
      }
    }

    h3 {
      margin: 0 0 5px;
      font-size: 0.87rem;
      line-height: 1.45;
      letter-spacing: 1px;

      @media (min-width: $xsmall) {
        font-size: 1rem;
      }

      @media (min-width: $large) {
        margin-bottom: 0;
      }
    }

    .project-link {
      display: inline-block;
      
      a {
        color: $linkBlue;
        font-size: 0.7rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;

        @media (min-width: $xsmall) {
          font-size: 0.73rem;
        }

        @media (min-width: $medium) {
          font-size: 0.78rem;
        }

        &:hover,
        &:active {
          color: white;
        }
      }

      @media (min-width: $large) {
        margin: 10px 0;
      }
    }
  }

  &.Project--expanded .project-header {
      padding-bottom: 15px;
      border-bottom: 1px dashed white;
  }

  .btn {
    @include linkButtonStyles;
    @include boxshadow;
    background-color: rgba(0, 0, 0, 0.45);
    border: 1px dashed $white;
    border-radius: $borderRadius;
    margin-right: 6px;
    padding: 6px 6px 4px;
    min-width: 70px;
    transition: $allTrans;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .project-nav {
    position: absolute;
    bottom: 100%;
    padding: 0 30px;

    .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .btn-toggle {
      @media (min-width: $large) {
        display: none;
      }
    }
    .btn-close {
      @media (max-width: $large - 1 ){
        display: none;
      }
    }
    .btn-toggle:hover,
    .btn-close:hover,
    .btn-gallery:hover {
      background-color: $orange;
    }
    .btn-prev:hover {
      background-color: $green;
    }
    .btn-next:hover {
      background-color: $blue;
    }
  }

  .project-meta {
    position: relative;
    padding-bottom: 25px;
    font-size: 0.95rem;
    line-height: 1.45;
    transition: $allTrans;

    h4 {
      margin: 0;
      padding: 0;
      font-weight: 400;

      &:first-child {
        margin-top: 10px;
      }

      span {
        font-weight: 600;
      }
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
    }
  }

  .project-media {

    ul {
      display: grid;
      grid-gap: 15px;
      padding-right: 20px;
      margin: 0;
      padding: 0;
      list-style-type: none;
      // flex-wrap: wrap;
      // display: flex;
      // justify-content: space-between;

      @media (min-width: $small) {
        grid-template-columns: 1fr 1fr;
      }

      // @media (min-width: $large) {
      //   grid-template-columns: 1fr 1fr 1fr;
      // }
    }
    li {
      // width: 49%;
    }
    .thumbnail {
      transition: $allTrans;
      overflow: hidden;
    }
    .project-media-cover {
      border: 1px dashed white;
      padding: 10px;
      cursor: pointer;

      .wrapper {
        position: relative;
        max-height: 400px;
        overflow: hidden;

        .btn {
          background-color: rgba(0, 0, 0, 0.7);
          position: absolute;
          font-size: 0.8rem;
          line-height: 1;
          padding: 10px 10px 8px;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
          z-index: 999;
        }

        // @media (min-width: $medium) {
        //   min-height: 400px;
        // }

        // @media (min-width: $large) {
        //   min-height: 425px;
        // }

      }

      .overlay {
        @include boxshadow;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: $allTrans;
        opacity: 0.3;
      }

      img {
        display: block;
        max-width: 100%;
        width: 100%;
      }

      &:hover .overlay {
        opacity: 0.55;
      }

      // .no-touchevents & {
      //   opacity: 0.95;

      //   &:hover {
      //     opacity: 1;
      //   }
      // }
    }
  }

  &.Project--gallery .project-media-cover .btn {
    display: none;
  }

  .project-gallery {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;

    .slider-list,
    .slider-slide {
      width: 100% !important;
      height: 100% !important;
    }

    .video-wrapper,
    .image-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .video-wrapper {
      // position: relative;
      // padding-bottom: 56.25%; /* 16:9 */
      // height: 0;
    }
    .image-wrapper > img,
    .video-wrapper > iframe {
      display: block;
      margin: 0 auto;
    }
    .image-wrapper > img {
      width: auto !important;
      max-height: 100%;
    }
  }

  .track-vertical {
    width: 10px !important;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    height: 100%;
  }
  .thumb-vertical {
    background-color: $blue;
    border-radius: 6px;
    border: 1px dashed white;
    box-sizing: border-box;
  }

  .react-fancybox .box {
    width: 100vw;
    height: 110vh;
    z-index: 999999;
  }

}