/* Project */

@import '../../../assets/styles/settings.scss';

.Project {
  position: absolute;
  bottom: -30vh;
  right: 0;
  height: auto;
  width: 100vw;
  transition: $allTrans;
  font-family: $tertiaryFont;
  color: #000;
  z-index: 999;

  .App-explore &.Project--open {
    bottom: 0;

    // .project-wrapper {
    //     height: 100%;

    //     @media (min-width: $large) {
    //       -ms-transform: translateY(-50%);
    //       transform: translateY(-50%);
    //       top: 50%;
    //       width: 30vw;
    //     } 
    // }

    .project-cover {
      opacity: 0.75;
    }
  }

  .App-explore &.Project--expanded {
    height: 75vh;
  }

  .project-wrapper {
    @include boxshadow;
    position: relative;
    transition: $allTrans;
    border-top: 1px solid white;
    height: 100%;

    @media (min-width: $large) {
      border-top: 0;
      border: 1px dashed white;
      border-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .project-cover {
    @include backgroundScreen;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .project-content {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 30px;
    z-index: 9;

    @media (min-width: $large) {
      padding: 50px;
    }
  }

  .project-header,
  .project-meta,
  .project-media {
    color: $white;
    font-family: $primaryFont;
    line-height: 1.25;
  }

  .project-meta,
  .project-media {
    @include boxshadow;
    @include backgroundScreen;
    border-radius: 10px;
    border: 1px dashed $white;
    margin: 0 0px 30px;
    padding: 15px;
  }

  .project-header {
    @include textshadow;

    h2 {
      font-family: $secondaryFont;
      letter-spacing: 2px;
      margin: 0 0 5px;
      font-weight: 400;

      @media (max-width: $xsmall - 1) {
          font-size: 1.2rem;
      }
    }

    h3 {
      margin-top: 0;
      font-size: 0.85rem;
      line-height: 1.45;

      @media (min-width: $xsmall) {
        font-size: 1rem;
      }
    }
  }

  .project-nav {
    position: absolute;
    bottom: 100%;
    padding: 0 30px;
    
    @media (min-width: $large) {
      bottom: auto;
      top: 100%;
    }

    .btn {
      @include linkButtonStyles;
      @include backgroundScreen;
      border: 1px dashed $white;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 6px;
      padding-left: 6px;
      padding-right: 6px;
      min-width: 70px;
      transition: $allTrans;
      cursor: pointer;

      @media (min-width: $large) {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:focus {
        outline: none;
      }
    }

    .btn-close:hover {
      background-color: $orange;
    }
    .btn-prev:hover {
      background-color: $green;
    }
    .btn-next:hover {
      background-color: $blue;
    }
  }

}