/* PORTFOLIO */

@import '../../assets/styles/settings.scss';

// $xsmallCirc: 60px;
// $smallCirc: 80px;
// $largeCirc: 100px;

.Portfolio,
.Scene,
.scene-wrapper {
  width: 100vw;
  height: 100vh;
}

.Scene {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;

  canvas {
    pointer-events: none; }

  &.Scene-ready canvas {
    pointer-events: all;
    cursor: grab !important;
    cursor: -moz-grab !important;
    cursor: -webkit-grab !important;

    &:active,
    &.active-grab {
      cursor: grabbing !important;
      cursor: -moz-grabbing !important;
      cursor: -webkit-grabbing !important;
    }
  }
}

.Portfolio {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  z-index: 1;

  .portfolio-wrapper {
    width: 30%;
    margin-top: 220px;
    padding-bottom: 20px;
    max-width: 450px;

    @media screen and (min-width: $small) {
      position: absolute;
      margin-top: 0;
      height: 125px;
      width: 30%;
    }
    @media screen and (min-width: $medium) {
      padding-bottom: 0;
      height: auto;
    }
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: $xsmall) {
        flex-direction: row;
      }
      // @media screen and (min-width: $small) {
      //   justify-content: flex-end;
      // }
      width: 100%;
      height: 100%;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
      background-color: #FFF;
      z-index: 1;
      opacity: 0;
      transition: all .5s ease-out;

      @media screen and (min-width: $medium) {
        opacity: 1;
      }
    }
    // &.left {
    //   right: 55%;
    //   @media screen and (min-width: $xsmall) {
    //     right: 60%;
    //   }
    //   @media screen and (min-width: $small) {
    //     right: 58%;
    //   }
    //   @media screen and (min-width: $xlarge) {
    //     right: 54%;
    //   }
    //   & > div {
    //     @media screen and (min-width: $small) {
    //       align-items: flex-start;
    //     }
    //   }
    //   .item {
    //     // &:before {
    //     //   left: 100%;
    //     // }
    //     &.projectsIn-enter {
    //       transition: all 4s ease-in-out;
    //       transform: translate(0, 0);
    //     }
    //     &.projectsIn-enter.projectsIn-enter-active {
    //       transform: translate(-100%, 0);
    //     }
    //   }
    // }
    // &.right {
    //   left: 55%;
    //   @media screen and (min-width: $xsmall) {
    //     left: 60%;
    //   }
    //   @media screen and (min-width: $large) {
    //     left: 58%;
    //   }
    //   @media screen and (min-width: $xlarge) {
    //     left: 54%;
    //   }
    //   & > div {
    //     @media screen and (min-width: $xsmall) {
    //       flex-direction: row-reverse;
    //     }
    //     @media screen and (min-width: $small) {
    //       align-items: flex-end;
    //     }
    //   }
    //   .item {
    //     &:before {
    //       right: 100%;
    //     }
    //     &.projectsIn-enter {
    //       transition: all 4s ease-in-out;
    //       transform: translate(0, 0);
    //     }
    //     &.projectsIn-enter.projectsIn-enter-active {
    //       transform: translate(100%, 0);
    //     }
    //   }
    // }
  }

  .Resume {
    font-family: $primaryFont;
    margin-top: 60%;
    width: 100%;
    color: #FFF;
  }
  .projects {
    list-style-type: none;
    .item-images {
      display: none;
    }
  }
  .item {
    position: relative;
    -webkit-transition: all 4s ease-out;
    -moz-transition: all 4s ease-out;
    transition: all 4s ease-out;
    margin: 10px 0;
    cursor: pointer;
    z-index: 2;
    @media screen and (min-width: $small) {
      margin: 0;
    }
    // &:before {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   top: 50%;
    //   width: 65%;
    //   height: 1px;
    //   background-color: #FFF;
    //   z-index: 1;
    //   opacity: 0;
    //   transition: all .5s ease-out;
    // }
    // @media screen and (min-width: $small) {
    //   &:before {
    //     opacity: 1;
    //   }
    // }
  }
  .item-wrap {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
    transform: scale(1);
    transition: all .5s ease-in-out;
    z-index: 9;
    &:hover {
      transform: scale(1.3);
    }
  }
  .item-frame {
    position: relative;
    background-position: center;
    background-size: 100%;
    background-color: $white;
    border-radius: 50%;
    overflow: hidden;
    opacity: .9;
    transform: scale(1);
    transition: all .5s ease-in-out;
    z-index: 9;
    .item-text {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(80,20,20, 0.7);
      transition: $allTrans;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: .5rem;
      color: $white;
      span {
        max-width: 50%;
      }
    }
    &:hover {
      background-size: 150%;
      opacity: 1;
      .item-text {
        opacity: 1;
      }
    }
  }
  .item-link-wrap {
    overflow: visible;
  }
  line,
  .item-link {
    stroke: $white;
    stroke-width: 1;
  }
}

/* SVG Styles */

// .Item {
//   text {
//     text-anchor: middle;
//   }
//   .item-back-overlay {
//     fill: $white;
//     opacity: 1;
//     transform: scale(0.2);
//     transition: all 1s ease-in-out;
//     box-shadow: 0 1px 2px rgba(0,0,0,0.1);
//   }
//   .open & .item-back-overlay {
//     transform: scale(1);
//   }
//   .item-back-name {
//     font-size: 35px;
//     font-family: $secondaryFont;
//   }
//   .item-back-frame {
//     fill: $white;
//     mask: url(#mask);
//   }
// }