/* About */

@import '../../../assets/styles/settings.scss';

.About {
    padding-top: 15px;

    .about-wrapper {
        @include backgroundScreen;
        @include boxshadow;
        margin: 0 3px;
        padding: 10px 15px;
        font-family: $primaryFont;
        font-size: 0.9rem;
        font-weight: 600;
        line-height: 1.5;
        text-align: justify;
        border-radius: 10px;
        border: 1px dashed white;
        transition: all .4s ease-in-out;
        //height: 1;
        opacity: 0;
        //transform: translateY(-20%);

        &.aboutIn {
            //height: 130px;
            opacity: 1;
            //transform: translateY(0%);
        }
    }

    p {
        margin: 0;
    }
}