/* About */

@import '../../../assets/styles/settings.scss';

.About {
    overflow: hidden;

    .about-wrapper {
        padding-top: 15px;
    }

    .about-inner {
        @include backgroundScreen;
        @include boxshadow;
        margin: 0 3px;
        padding: 10px 15px;
        font-family: $primaryFont;
        font-size: 0.9rem;
        font-weight: 600;
        line-height: 1.5;
        text-align: justify;
        border-radius: 10px;
        border: 1px dashed white;
        transition: all .4s ease-in-out;
    }

    p {
        margin: 0;
    }
}