/* App */

@import '../assets/styles/settings.scss';

html, body {
  background-color: rgb(53,47,57);
}
body {
    overflow-x: hidden;
}

.App {
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition: background 0.5s ease-in-out;

  &.App-home,
  &[data-active-view="home"] {
    background-color: #95dcc0;
  }
  &.App-explore,
  &.App-explore[data-active-view="explore"] {
    background-color: #70bce3;
  }
  &.App-about.App-connect[data-active-view="about"],
  &.App-about[data-active-view="connect"],
  &.App-about[data-active-view="about"] {
    background-color: #e39f4d;
  }
  &.App-connect.App-about[data-active-view="connect"],
  &.App-connect[data-active-view="about"],
  &.App-connect[data-active-view="connect"] {
    background-color: #eae96d;
  }
}
.App .app-cover {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
}
.App .app-wrapper {
  position: relative;
  height: 100%;
}
// .App button {
//   cursor: pointer;
//   background-color: transparent;
//   border: 0;
//   &:focus,
//   &:hover {
//     outline: 0;
//   }

//   &.a-enter-ar-button, 
//   &.a-enter-vr-button {
//     background-size: 80% 80%;
//     min-width: 55px;
//     position: relative;
//     padding: 0;
//   }

//   &.a-enter-ar-button:active, 
//   &.a-enter-ar-button:hover, 
//   &.a-enter-vr-button:active, 
//   &.a-enter-vr-button:hover {
//     background-color: transparent;
//   }
// }

// .App .a-enter-ar, 
// .App .a-enter-vr {
//   // display: none;
//   box-sizing: border-box;
//   padding: 0 20px;
//   text-align: center;
//   width: 100%;
//   right: 0;

//   @media screen and (min-width: $small) {
//     text-align: right;
//   }
// }